.intro-content{
    position: relative;
    display: grid; 
    grid-template-columns: 1.5fr 1.0fr;
    align-items: center; 
    gap: var(--gap);
    min-height: 100vh; 
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

.top3-content{
    max-width: 64rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    justify-content: center;
}

.footer{
    text-align: center;
    font-size: 1.6rem;
}

.footer a{
    color: var(--primary-color)
}

.heart{
    color: var(--secondary-color);
}

.footer p{
    margin: 0;
    padding: 3rem;
}


@media (max-width:800px){ /*Quando a largura da tela for menor que 800px ele execulta*/
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }
}
